<h2>Your Shelves</h2>

<ul>
  <li>Amount of Books Out: <strong><%= current_user.books.count %></strong></li>
  <li>Amount of Pages Read: <strong><%= current_user.pages_read %></strong></li>
</ul>

<div class="form">
	<% if @shelf.new_record? %>
		<h3>Create New Shelf</h3>
	<% else %>
		<h3>Edit Shelf</h3>
	<% end %>
	<%= form_for @shelf do |f| %>
		<%= f.label :name %>
		<%= f.text_field :name, required: true %>
		<%= f.hidden_field :user_id, value: current_user.id %>
		<%= f.submit %>
	<% end %>
</div>

<% @shelves.each do |shelf| %>
  <div class="shelf" id="<%=shelf.id%>">
    
    <h3> <%= shelf.name %> Shelf </h3>
    <% unless shelf.name == "Reading" || shelf.name == "Finished Reading" %>
      <%= link_to "Edit Name", edit_shelf_path(shelf) %>
      <%= link_to "Delete", shelf, method: :delete, data: { confirm: "Are you sure? Any books under this shelf will also be removed." } %>
    <% end %>  
    
	<div class="books">
		<% if shelf.books != [] %>
			<div id="shelf-books">
		    	<% shelf.books.each do |book| %>
			  		<%= image_tag(book.cover, :class => "book-cover", :id => book.id) %>
			  	<% end %>
			</div>
		<% else %>
			<img id="empty-shelf" src="http://i65.tinypic.com/2i0ygyo.jpg" alt="" />
		<% end %>
    </div> 
		  	
	<% shelf.books.each do |book| %>
	  	<div id="book-<%= book.id %>" class="book-info hidden no-margins">
	  		<div class="shelf-book-info-col">
	  			<h4><%= book.title %></h4>
	  		</div>
	  		<div class="shelf-book-info-col">
	  			By: <%= book.author %><br>
		        Genre: <%= book.genre %><br>
		        Pages Left: <%= book.pages_left %>
	  		</div>
	  		<div class="shelf-book-info-col">
	      		<%= link_to("Preview", book.preview) %>
	        </div>
	        <div class="shelf-book-info-col">
		        <%= form_for book.shelved_location do |f| %>
		          <%= f.label :current_page %>
		          <%= f.number_field :current_page, in: 0.0..book.page_count, required: true %>
		          <%= f.label :status %>
		          <%= f.select :status, ['Currently Reading', 'Plan to Read', 'On Hold', 'Finished', 'Dropped'] %>
		          <%= f.label :shelf_id %>
		          <%= f.collection_select :shelf_id, current_user.shelves, :id, :name %>
		          <%= f.submit "Update" %>
		        <% end %>
		     </div> 
	        
	         <span class="down"></span>
	  	</div>     
	<% end %>

  </div>
<% end %>