<h2>Library</h2>

<div class="form-div">
	<h3> Search Library </h3>
	<%= form_tag(books_path, method: "get") do %>
		<%= text_field_tag :search %>
		<%= submit_tag 'Search' %>
	<% end %>
</div>

<div id="library-div" class="books-div">
  	<div>
	<% @books.each do |book| %>
		<%= image_tag(book["volumeInfo"]["imageLinks"]["thumbnail"], :class => "book-cover-img", :id => book["id"]) %>  
		    
		<div class="book-info-div hidden" id="book-<%= book["id"] %>">
			<div class="lib-book-info-col">
			    <h4><%= book["volumeInfo"]["title"] %></h4>
			</div>
			<div class="lib-book-info-col">
			    By: <%= book["volumeInfo"]["authors"][0] %><br>
			    Genre: <%= book["volumeInfo"]["categories"][0] %><br>
			    Page Count: <%= book["volumeInfo"]["pageCount"] %>
			</div>
			<div class="lib-book-info-col">
		    	<%= link_to "Preview", book["volumeInfo"]["previewLink"] %>
		    </div>
		    <div class="lib-book-info-col">
		    <% if user_signed_in? %>
		      <%= form_tag(shelved_books_path) do %>
		        <%= collection_select :shelf, :id, current_user.shelves, :id, :name %>
		        <%= hidden_field_tag "book[title]", book["volumeInfo"]["title"] %>
		        <%= hidden_field_tag "book[author]", book["volumeInfo"]["authors"][0] %>
		        <%= hidden_field_tag "book[genre]", book["volumeInfo"]["categories"][0] %>
		        <%= hidden_field_tag "book[cover]", book["volumeInfo"]["imageLinks"]["thumbnail"] %>
		        <%= hidden_field_tag "book[preview]", book["volumeInfo"]["previewLink"] %>
		        <%= hidden_field_tag "book[page_count]", book["volumeInfo"]["pageCount"] %>
		        <%= submit_tag "Add Book to Shelf" %>
		       <% end %>
		     <% end %>
		    </div>
		    <span class="exit-x">x</span>
	    </div>
	<% end %>	 
  	</div>
</div>
