<h1>Library</h1>

  <% @books.each do |book| %>
    <h4><%= book.title %></h4>
    By: <%= book.author %><br>
    Genre: <%= book.genre %><br>
    Page Count: <%= book.page_count %>
    <br><br>
    <% if user_signed_in? %>
      <%= form_for book.shelved_books.new do |f| %>
        <%= f.collection_select :shelf_id, current_user.shelves, :id, :name %>
        <%= hidden_field_tag "shelved_book[book_id]", book.id %>
        <%= f.submit "Add Book to Shelf" %>
      <% end %>
    <% end %>
    <br><br>
  <% end %>
