<!DOCTYPE html>
<html>
  <head>
    <title>RailsReadingListManagerProject</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
  	<header>
  	<h1>Reading List<br> Manager</h1>
	    <nav>
	        <% if user_signed_in? %>
	          <span>Hello <%= current_user.name.capitalize %>,</span>
	          <%= link_to "Home", root_path %>
	          <%= link_to "Library", books_path %>
	          <%= link_to "Your Shelves", user_shelves_path(current_user) %>
	          <%= link_to "Sign Out", destroy_user_session_path, method: 'delete' %>
	        <% else %>
	          <%= link_to "Home", root_path %>
	          <%= link_to "Login", new_user_session_path %>
	          <%= link_to "Sign Up", new_user_registration_path %>
	        <% end %>
	    </nav>
    </header>
    <% if !flash.empty? %>
    <div class="field_with_errors">
      <h1>Notice!</h1>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
    </div>
    <% end %>

    <%= yield %>
    <footer>
    	<section id="about-section">
			<h3>DO YOU LIKE WHAT YOU SEE?</h3>
			<p>Hello, my name is Khaya. I am a graduate from Flatiron School's 
				web development boot camp who is seeking out positions in my field. 
				Nam alia pertinax definitionem et, his ne meis splendide, ut mel lorem dissentiunt. 
			 Facer omnium an mel, te mea debitis gubergren intellegam, pro te ludus cetero veritus. 
			 Eos cu dicat persecuti interesset. Mel noster temporibus persequeris in, per quis diceret 
			 civibus et. </p>
			<a class="button-link" href="https://www.linkedin.com/in/khaya-ramcharita-dillon-5385a2107/">LinkedIn Profile</a>
		</section>
		<section id="project-section">
			<h3>PROJECT DETAILS</h3>
			<div class="footer-column">
				<h4>Image Credits</h4>
				<p>Something and something were created by me using Adobe Illustrator.</p>
			</div>
			<div class="footer-column">
				<h4>Languages</h4>
				<p>HTML, CSS, Rails, JavaScript</p>
			</div>
			<div class="footer-column">
				<h4>Features</h4>
				<ul>
					<li>Mel noster temporibus persequeris in, per quis diceret civibus et.</li>
					<li>Mel noster temporibus persequeris in, per quis diceret civibus et.</li>
					<li>Mel noster temporibus persequeris in, per quis diceret civibus et.</li>
					<li>Mel noster temporibus persequeris in.</li>
				</ul>
			</div>
			<div class="footer-column">
				<h4>Contact</h4>
				<p>Email: <a href="mailto: khaya.r.dillon@rutgers.edu">khaya.r.dillon@rutgers.edu</a></p>
			</div>
		</section>
    </footer>
  </body>
</html>
